.home-top .keith		{ font-size: 148px; line-height: 108px; height: 114px; }
.home-top .marran		{ font-size: 108px; line-height: 80px; height: 82px; }
.home-top .lives		{ font-size: 148px; line-height: 108px; height: 114px; }

.home-bottom .and-keith 	{ font-size: 36px; line-height: 24px; height: 30px; }
.home-bottom .does		 	{ font-size: 78px; line-height: 60px; height: 64px; }
