---
layout: html
title: That Page Doesn't Exist
---
<body class="404">

{% include header.html %}

<div id="middle">

  <div class="container">
    
    <div class="row">
    
      <div class="span8">
        <div id="main">
        
          <div class="title">{{ page.title }}</div>

          <div class="content">
          
            {{ content }}
          
          </div>
  
        </div>
      </div>

			<div class="span4">
			  <div id="sidebar">

          {% include search.html %}

          <div id="popular-tags">
            <div class="header">Popular Tags</div>
            
            {{ site.tags | popular_tags }}
            
          </div>

        </div>
			</div>

		</div>		
	</div>
</div>

{% include footer.html %}

</body>