---
layout: home
title: Keith Marran
---
<div class="first row">

  {% for post in site.categories['articles'] limit:1 %}

    <div class="span8">

      <div class="teaser">
        <div class="keyword"><a href="/tags/{{ post.tags[0] | slugify }}/" class="tag-link">{{ post.tags[0] }}</a></div>
        {% if (post.images) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a></div>{% endif %}
        <div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
        <div class="description">{{ post.description }}</div>
        <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">There's more? Yes! Let's go. »</a></div>
      </div>

    </div>

  {% endfor %}

</div>

<div class="second row">

  {% for post in site.categories['articles'] limit:2 offset:1 %}

    <div class="span4">

      <div class="teaser">
        <div class="keyword"><a href="/tags/{{ post.tags[0] | slugify }}/" class="tag-link">{{ post.tags[0] }}</a></div>
        {% if (post.images) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a></div>{% endif %}
        <div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
        <div class="description">{{ post.description }}</div>
        <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">I'm fascinated. Continue... »</a></div>
      </div>

    </div>

  {% endfor %}

</div>

<div class="third row">

  {% for post in site.categories['articles'] limit:4 offset:3 %}

    <div class="span2">

      <div class="teaser">
        <div class="keyword"><a href="/tags/{{ post.tags[0] | slugify }}/" class="tag-link">{{ post.tags[0] }}</a></div>
        {% if (post.images) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a></div>{% endif %}
        <div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
        <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">The whole story... »</a></div>
      </div>

    </div>

  {% endfor %}

</div>

<div class="fourth row">

  {% for post in site.categories['articles'] limit:4 offset:7 %}

    <div class="span2">

      <div class="teaser">
        <div class="keyword"><a href="/tags/{{ post.tags[0] | slugify }}/" class="tag-link">{{ post.tags[0] }}</a></div>
        {% if (post.images[0]) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a></div>{% endif %}
        <div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
        <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">More! »</a></div>
      </div>

    </div>

  {% endfor %}

</div>
