---
layout: default_front
title: Keith Marran
---
<div class="home-top clearfix">

	<div class="left">
		<div class="keith">Keith</div>
		<div class="marran">Marran</div>
		<div class="lives">Lives</div>
		<div class="the-rest">in New York City with his Spousal Equivalent, David, and his offspring equivalents, Gogo and Oz.</div>
	</div>

	<div class="right">

		<div class="box">
			<div class="box-header">
				<div class="box-header-left box-title">
					This is what he's thinking...
				</div>
				<div class="box-header-right"></div>
			</div>
			<div class="box-middle">
				<div class="box-middle-left">
					<div id="feed"></div>
					<div class="social-links">Find Keith on <a href="http://www.facebook.com/marran" title="Keith on Facebook" target="_blank"><img src="/images/icons/hand_drawn_facebook.png" alt="Keith on Facebook" /></a> or <a href="http://twitter.com/#!/CaptainCanine" title="Keith on Twitter" target="_blank"><img src="/images/icons/hand_drawn_twitter.png" alt="Keith on Twitter" /></a> or <a href="http://www.flickr.com/people/keith-marran/" title="Keith on Flickr" target="_blank"><img src="/images/icons/hand_drawn_flickr.png" alt="Keith on Flickr" /></a></div>
				</div>
				<div class="box-middle-right"></div>
			</div>
			<div class="box-footer">
				<div class="box-footer-left"></div>
				<div class="box-footer-right"></div>
			</div>
		</div>

	</div>

</div>

<div class="home-bottom clearfix">

	<div class="left">
		
		<div class="box">
			<div class="box-header">
				<div class="box-header-left clearfix">
					<div class="box-title title">The Latest Entry</div>
					<div class="meta">{{ site.categories['blog'][0].date | time_ago }}{{ site.categories['blog'][0].tags | tag_links }}</div>
				</div>
				<div class="box-header-right"></div>
			</div>
			<div class="box-middle">
				<div class="box-middle-left">
				
					<div class="teaser-feature">
						<div class="title"><a href="{{ site.categories['blog'][0].url }}" title="{{ site.categories['blog'][0].title }}">{{ site.categories['blog'][0].title }}</a></div>
						{% if (site.categories['blog'][0].images) %}<div class="image"><a href="{{ site.categories['blog'][0].url }}" title="{{ site.categories['blog'][0].title }}"><img src="{{ site.categories['blog'][0].images[0] | format_main_image }}" /></a></div>{% endif %}
						<div class="description">{{ site.categories['blog'][0].description }}</div>
						<div class="read-more"><a href="{{ site.categories['blog'][0].url }}" title="{{ site.categories['blog'][0].title }}">There's more? Yes! Let's go. »</a></div>
					</div>
					
					{% for post in site.categories['blog'] limit:5 offset:1 %}
					
					<div class="teaser clearfix">
						{% if (post.images) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_teaser_image }}" /></a></div>{% endif %}
						<div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
						<div class="meta"><span class="timeago">{{ post.date | time_ago }}</span>{{ post.tags | tag_links }}</div>
						<div class="description">{{ post.description }}</div>
						<div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">Get the whole story... »</a></div>
					</div>
					
					{% endfor %}
									
				</div>
				<div class="box-middle-right"></div>
			</div>
			<div class="box-footer">
				<div class="box-footer-left"></div>
				<div class="box-footer-right"></div>
			</div>
		</div>

		<div class="more-content"><a href="/blog" title="More blog entries">See more blog entries »</a></div>
		
	</div>

	<div class="right">
		
		<div class="teaser">
		
	    {% assign recipe = site.categories['recipes'][0] %}

			<div class="and-keith">and Keith</div>
			<div class="does"><a href="/recipes">cooks</a></div>
	
			<div class="box">
				<div class="box-header">
					<div class="box-header-left box-title title"><a href="{{ recipe.url }}" title="{{ recipe.title }}">{{ recipe.title }}</a></div>
					<div class="box-header-right"></div>
				</div>
				<div class="box-middle">
					<div class="box-middle-left">
						{% if (recipe.images) %}<div class="image"><a href="{{ recipe.url }}" title="{{ recipe.title }}"><img src="{{ recipe.images[0] | format_teaser_image }}" /></a></div>{% endif %}
						<div class="description">{{ recipe.description }}</div>
						<div class="read-more"><a href="{{ recipe.url }}" title="{{ recipe.title }}">Mmmm! Let's read the recipe! »</a></div>
					</div>
					<div class="box-middle-right"></div>
				</div>
				<div class="box-footer">
					<div class="box-footer-left"></div>
					<div class="box-footer-right"></div>
				</div>
			</div>
	
			<div class="more-content"><a href="/recipes" title="More recipes">See more recipes »</a></div>

		</div>
		
		<div class="teaser">
	
	    {% assign travel = site.categories['travel'][0] %}

			<div class="and-keith">and he</div>
			<div class="does"><a href="travel">travels</a></div>
	
			<div class="box">
				<div class="box-header">
					<div class="box-header-left box-title title"><a href="{{ travel.url }}" title="{{ travel.title }}">{{ travel.title }}</a></div>
					<div class="box-header-right"></div>
				</div>
				<div class="box-middle">
					<div class="box-middle-left">	
						{% if (travel.images) %}<div class="image"><a href="{{ travel.url }}" title="{{ travel.title }}"><img src="{{ travel.images[0] | format_teaser_image }}" /></a></div>{% endif %}
						<div class="description">{{ travel.description }}</div>
						<div class="read-more"><a href="{{ travel.url }}" title="{{ travel.title }}">Sounds fun, let's go! »</a></div>
					</div>
					<div class="box-middle-right"></div>
				</div>
				<div class="box-footer">
					<div class="box-footer-left"></div>
					<div class="box-footer-right"></div>
				</div>
			</div>
	
			<div class="more-content"><a href="/travel" title="More travel">See more travel »</a></div>

		</div>
		
		<div class="teaser">
	
	    {% assign tech = site.categories['tech'][0] %}
	
			<div class="and-keith">and he</div>
			<div class="does"><a href="/tech">codes</a></div>
	
			<div class="box">
				<div class="box-header">
					<div class="box-header-left box-title title"><a href="{{ tech.url }}" title="{{ tech.title }}">{{ tech.title }}</a></div>
					<div class="box-header-right"></div>
				</div>
				<div class="box-middle">
					<div class="box-middle-left">	
						{% if (tech.images) %}<div class="image"><a href="{{ tech.url }}" title="{{ tech.title }}"><img src="{{ tech.images[0] | format_teaser_image }}" /></a></div>{% endif %}
						<div class="description">{{ tech.description }}</div>
						<div class="read-more"><a href="{{ tech.url }}" title="{{ tech.title }}">I need to know »</a></div>
					</div>
					<div class="box-middle-right"></div>
				</div>
				<div class="box-footer">
					<div class="box-footer-left"></div>
					<div class="box-footer-right"></div>
				</div>
			</div>
	
			<div class="more-content"><a href="/tech" title="More tech">See more tech »</a></div>

		</div>

	</div>

</div>