<div id="header">

  <div class="container">
    
    <div class="row">
      <div class="span8">
        <div id="logo">
          <a href="/" title="Keith Marran's Home Page">Keith Marran</a>
          <a href="/" title="Keith Marran's Home Page" class="sketched">Keith Marran</a>
        </div>
        <div id="about">lives in New York City with his husband, David, and his offspring equivalents, Gogo and Oz.</div>
      </div>
      <div class="span4 follow-links">
        <div class="email"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#107;&#101;&#105;&#116;&#104;&#64;&#109;&#97;&#114;&#114;&#97;&#110;&#46;&#99;&#111;&#109;"><img src="/images/icon-email.png" /><span class="contact visible-desktop">&nbsp;contact</span></a></div>
        <div class="facebook"><a href="http://www.facebook.com/marran" target="_blank"><img src="/images/icon-facebook.png" height="43" width="43" /></a></div>
        <div class="twitter"><a href="http://www.twitter.com/captaincanine" target="_blank"><img src="/images/icon-twitter.png" height="43" width="43" /></a></div>
        <div class="github"><a href="http://www.github.com/captaincanine" target="_blank"><img src="/images/icon-github.png" height="43" width="43" /></a></div>
        <div class="flickr"><a href="http://www.flickr.com/people/keith-marran/" target="_blank"><img src="/images/icon-flickr.png" height="43" width="43" /></a></div>
      </div>
    </div>
    
  </div>

</div>