<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Keith Marran" />
  <link href="/atom.xml" rel="alternate" title="Keith Marran" type="application/atom+xml" />

  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
  <link rel="stylesheet" href="/js/shadowbox-3.0.3/shadowbox.css" type="text/css">

  <script type="text/javascript" src="/js/porter-stemmer.js"></script>
  <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cookies.js"></script>
  <script type="text/javascript" src="/js/site-search.js"></script>
  <script type="text/javascript" src="/js/time-ago.js"></script>
  <script type="text/javascript" src="/js/link-helper.js"></script>
  <script type="text/javascript" src="/js/offendable.js"></script>

  <script type="text/javascript" src="/js/facebook/status-updates.js"></script>

	<meta property="og:site_name" content="Keith Marran"/>
	<meta property="og:title" content="{{ page.title }}"/>
	{% if (page.description) %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}
	{% if (page.image) %}<meta property="og:image" content="{{ page.image }}"/>{% endif %}

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-359180-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</head>

<body class="front">

<div id="header">

  <div class="container">
    
    <div class="row visible-phone">
      <div id="logo" class="span12">
        <a href="/" title="Keith Marran's Home Page"><img src="/images/logo.png" alt="Keith Marran"></a>
      </div>
    </div>
    
    <div class="row">
    
      <div class="span6">
        <div id="mini-nav">
          <div class="item"><a href="/blog" title="Blog">Blog</a></div>
          <div class="item"><a href="/recipes" title="Recipes">Recipes</a></div>
          <div class="item"><a href="/travel" title="Travel">Travel</a></div>
          <div class="item"><a href="/tech" title="Tech">Tech</a></div>
        </div>
      </div>

			<div class="span6">
			  <div id="mini-search">
          <form id="search" method="get" class="form-search">
            <label for="search-text">Search</label>
            <input type="text" name="search-text" id="search-text">
          </form>
        </div>
			</div>

		</div>		
	</div>
</div>

<div id="main">
	<div class="container">

		{{ content }}

	</div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="copyright span6">
        ® {{ site.time | date:'%Y' }} Keith Marran
      </div>
      <div class="contact span6">
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#107;&#101;&#105;&#116;&#104;&#64;&#109;&#97;&#114;&#114;&#97;&#110;&#46;&#99;&#111;&#109;"><i class="icon-envelope icon-white"></i>&nbsp;&#67;&#111;&#110;&#116;&#97;&#99;&#116;&#32;&#75;&#101;&#105;&#116;&#104;</a>
      </div>
    </div>
	</div>
</div>

</body>
</html>