---
layout: html
---
<body class="article event">

{% include header.html %}

<div id="middle">

  <div class="container">
    
    <div class="row">
    
      <div class="span8">
        <div id="main">
        
          <div class="title">{{ page.title }}</div>
          <div class="meta">
            <div class="row">
	            <div class="span5"><div class="info">{{ page.date | time_ago }} - {{ page.tags | tag_links }}</div></div>
	            <div class="span3">{% include sharing.html %}</div>
            </div>
          </div>
          
          {% if (page.images[0]['fullsize']) %}
            <div class="image main"><img src="{{ page.images[0]['fullsize'] }}" /></div>
          {% endif %}

          <div class="content">
          
            {{ content }}
          
          </div>
          
          {% if page.wufoo %}
          <div class="teaser">
    
            <div class="box">

              <div class="title">R.S.V.P.</div>
                    
              <script type="text/javascript" src="http://marran.pandaform.com/javascripts/embed.js"></script>
              <script type="text/javascript">EmbeddedForm({"src": "http://marran.pandaform.com/embedded/blbpxh/new", "domId": "marran_blbpxh", "height": "820px"});</script>

            </div>
  
          </div>
          {% endif %}	

          {% if page.location %}
          <div class="mapping">
            <p>This map might help...</p>
            <div class="map-canvas" id="map-event"></div>
            <div class="map-point" address="{{ page.location.address }}" latitude="{{ page.location.latitude }}" longitude="{{ page.location.longitude }}">
              <div><b>{{ page.title }}</b></div>
              <div>{{ page.location.address }}</div>
            </div>
          </div>
          {% endif %}
  
          {% include comments.html %}

        </div>
      </div>

			<div class="span4">
			  <div id="sidebar">

          {% include search.html %}
          
          {% include statuses.html %}

          {% include checkins.html %}

          <div id="popular-tags">
            <div class="header">Popular Tags</div>
            
            {{ site.tags | popular_tags }}
            
          </div>

        </div>
			</div>

		</div>		
	</div>
</div>

{% include footer.html %}

</body>