---
layout: html
---
<body class="front">

{% include header.html %}

<div id="center">

  <div class="container">
    
    <div class="row">
    
      <div class="span8">
        <div id="main">
           {{ content }}
        </div>
      </div>

			<div class="span4">
			  <div id="sidebar">

          {% include search.html %}
          
          {% include statuses.html %}

          {% include checkins.html %}

          <div id="popular-tags">
            <div class="header">Popular Tags</div>
            
            {{ site.tags | popular_tags }}
            
          </div>

        </div>
			</div>

		</div>		
	</div>
</div>

{% include footer.html %}

</body>
</html>