---
layout: default
---
<div class="post clearfix">

	<div class="left">
		
		<div class="box">
			<div class="box-header">
				<div class="box-header-left clearfix">
					<div class="box-title title"><h1>{{ page.title }}</h1></div>
					<div class="meta">{{ page.date | time_ago }} - {{ page.tags | tag_links }}</div>
				</div>
				<div class="box-header-right"></div>
			</div>
			<div class="box-middle">
				<div class="box-middle-left">				
					{% if (page.images) %}<div class="post-image"><a href="{{ page.images[0] | format_main_image }}" title="{{ page.title }}" rel="shadowbox" class="popupwindow"><img src="{{ page.images[0] | format_main_image }}" /></a></div>{% endif %}
					{{ content }}
					
					{% if page.series %}
						{{ site.series | next_in_series info:page.series }}
					{% endif %}

					<div id="disqus_thread"></div>
					<script type="text/javascript">
						 
						 var disqus_shortname = 'marran'; // required: replace example with your forum shortname
					
						 // The following are highly recommended additional parameters. Remove the slashes in front to use.
						 var disqus_identifier = '{{ page.id }}';
						 var disqus_url = 'http://www.marran.com{{ page.url }}/index.html';
					
						 (function() {
							  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
							  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						 })();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


				</div>
				<div class="box-middle-right"></div>
			</div>
			<div class="box-footer">
				<div class="box-footer-left"></div>
				<div class="box-footer-right"></div>
			</div>
		</div>
	
	</div>

	<div class="right">
		
		{% if page.photoset %}
		<div class="teaser">
		
			<div class="box">
				<div class="box-header">
					<div class="box-header-left box-title title clearfix">
						<div class="left">Photos!</div>
						<div class="right"><a href="http://www.flickr.com/photos/keith-marran/sets/{{ page.photoset }}/" target="_blank" title="View on Flickr"><img src="/images/icons/hand_drawn_flickr.png" alt="View on Flickr" /></a></div>
					</div>
					<div class="box-header-right"></div>
				</div>
				<div class="box-middle">
					<div class="box-middle-left photo-thumbs">
					{% for photo in page.photos %}
						<a href="{{ photo.urlFullSize }}" title="{{ photo.title }}" rel="shadowbox[slideshow]" class="popupwindow" /><img src="{{ photo.urlThumbnail }}" alt="{{ photo.title }}" class="{{ photo.thumbType }}" /></a>
					{% endfor %}
					</div>
					<div class="box-middle-right"></div>
				</div>
				<div class="box-footer">
					<div class="box-footer-left"></div>
					<div class="box-footer-right"></div>
				</div>
			</div>
	
		</div>
		{% endif %}	
		
		{% if page.series %}
		<div class="teaser series-box">
		
			<div class="box">
				<div class="box-header">
					<div class="box-header-left box-title">
						<div class="help">This post is part of a series called...</div>
						<div class="title">{{ page.series.name }}</div>
					</div>
					<div class="box-header-right"></div>
				</div>
				<div class="box-middle">
					<div class="box-middle-left">
										
						{% for post in site.series[page.series.name] %}
							{% if post.title == page.title %}
							<div class="series-item current">
								<div class="title">{{ post.title }}</div>
								<div class="info">You are here. Vous et ici.</div>
							</div>
							{% else %}
							<div class="series-item">
								<div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
								<div class="info">{{ post.description }}</div>
							</div>
							{% endif %}							
						{% endfor %}
					
					</div>
					<div class="box-middle-right"></div>
				</div>
				<div class="box-footer">
					<div class="box-footer-left"></div>
					<div class="box-footer-right"></div>
				</div>
			</div>
	
		</div>
		{% endif %}	
		
		{% if site.related_posts.length != 0 %}
		<div class="teaser">
		
			<div class="box">
				<div class="box-header">
					<div class="box-header-left box-title title">Similar Posts maybe?</div>
					<div class="box-header-right"></div>
				</div>
				<div class="box-middle">
					<div class="box-middle-left">
						 {% for post in site.related_posts limit:3 %}
						 	<div class="related-post">
						 		<div class="related-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
						 		<div class="related-meta"><span class="timeago">{{ post.date | time_ago }}</span>{{ post.tags | tag_links }}</div>
						 	</div>
						 {% endfor %}
					</div>
					<div class="box-middle-right"></div>
				</div>
				<div class="box-footer">
					<div class="box-footer-left"></div>
					<div class="box-footer-right"></div>
				</div>
			</div>
	
		</div>
		{% endif %}

	</div>

</div>