---
layout: html
---
<body class="article recipe">

{% include header.html %}

<div id="middle">

  <div class="container">
    
    <div class="row">
    
      <div class="span8">
        <div id="main">
        
          <div class="title">{{ page.title }}</div>
          <div class="meta">
            <div class="row">
	            <div class="span5"><div class="info">{{ page.date | time_ago }} - {{ page.tags | tag_links }}</div></div>
	            <div class="span3">{% include sharing.html %}</div>
            </div>
          </div>
          
          {% if (page.images[0]['fullsize']) %}
            <div class="image main"><img src="{{ page.images[0]['fullsize'] }}" /></div>
          {% endif %}

          <div class="content">
          
            {{ content }}
          
            {% if page.series %}

              <div class="next-box">
                <div class="help">This post is part of a series called...</div>
                <div class="series-title">{{ page.series.name }}</div>
                
                <div class="help">The next in the series is...</div>
                <div class="series-item">
                  <div class="title"><a href="{{ page.next.url }}">{{ page.next.title }}</a></div>
                  <div class="info">{{ page.next.description }}</div>
                  <div class="next-link"><a href="{{ page.next.url }}">Read the next post in the series >></a></div>
                </div>
              </div>

            {% endif %}
          
          </div>
  
          {% include comments.html %}

        </div>
      </div>

			<div class="span4">
			  <div id="sidebar">

          {% include search.html %}

          {% if page.photoset %}
          <div class="photo-thumbnails">         
            <div class="header">Photos!</div>
            <div class="list">
              {% for photo in page.photos %}

                {% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}

                {% if (forloop.first) or (modulo == '1') %}
                  <div class="row">
                {% endif %}
                
                  <div class="span2"><a href="{{ photo.urlFullSize }}" title="{{ photo.title }}" rel="shadowbox[slideshow]" class="popupwindow" /><img src="{{ photo.urlThumbnail }}" alt="{{ photo.title }}"  class="{{ photo.thumbType }}"/></a></div>

                {% if (modulo == '0') or (forloop.last) %}
                  </div>
                {% endif %}

              {% endfor %}
            </div>  
          </div>
          {% endif %}	
    
          {% if site.related_posts.length != 0 %}
          <div class="teaser">
            <div class="header">Similar Posts maybe?</div>
            <div class="teaser-list">

              {% for post in site.related_posts limit:3 %}
              <div class="teaser{% if (forloop.first) %} first{% endif %}">

                {% if (post.images) %}
  
                  <div class="row">
                    <div class="span1"><div class="image"><a href="{{ post.url }}"><img src="{{ post.images[0] | format_teaser_image }}" /></a></div></div>
                    <div class="span3">
                      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                      <div class="description">{{ post.description }}</div>
                      <div class="timestamp"><script language="javascript">document.write($.timeago('{{ post.date }}'))</script></div>
                    </div>
                  </div>
  
                {% else %}

                  <div class="row">
                    <div class="span4">
                      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                      <div class="description">{{ post.description }}</div>
                      <div class="timestamp"><script language="javascript">document.write($.timeago('{{ post.date }}'))</script></div>
                    </div>
                  </div>

                {% endif %}

              </div>
              {% endfor %}
              
            </div>  
          </div>
          {% endif %}          

        </div>
			</div>

		</div>		
	</div>
</div>

{% include footer.html %}

</body>
