---
layout: html
---
<body class="article recipe">

{% include header.html %}

<div id="middle">

  <div class="container">
    
    <div class="row">
    
      <div class="span8">
        <div id="main">
        
          <div class="title">{{ page.title }}</div>
          <div class="meta">
            <div class="row">
	            <div class="span5"><div class="info">{{ page.date | time_ago }} - {{ page.tags | tag_links }}</div></div>
	            <div class="span3">{% include sharing.html %}</div>
            </div>
          </div>
          
          {% if (page.images[0]['fullsize']) %}
            <div class="image main"><img src="{{ page.images[0]['fullsize'] }}" /></div>
          {% endif %}

          <div class="content">{{ content }}</div>
          
					{% include comments.html %}
					
        </div>
      </div>

			<div class="span4">
			  <div id="sidebar">

          {% include search.html %}

          <div id="ingredients" class="browse-list">
            <div class="header">Browse by Ingredient</div>
            <div class="list">
              {{ site.ingredients | browse_list }}
            </div>
          </div>

          <div id="ingredients" class="browse-list">
            <div class="header">Browse by Dish</div>
            <div class="list">
              {{ site.dishes | browse_list }}
            </div>
          </div>

        </div>
			</div>

		</div>		
	</div>
</div>

{% include footer.html %}

</body>
